<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/Student/home.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Home Page</title>
</head>

<body>
    <!-- navbar -->
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="/public/img/student.png" alt="">
            </div>
        </div>
        <div class="logo-name1">
            <h3 class="logo_name1" id="username"></h3>
            <h6 id="email" class="logo_name1"></h6>
            <p class="logo_name1 fw-bold text-primary">STUDENT</p>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="/Student/homepage">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Home Page</span>
                    </a>
                </li>
                <li>
                    <a href="/Student/rooms/:id">
                        <i class="uil uil-apps"></i>
                        <span class="link-name">Room List</span>
                    </a>
                </li>

                <li>
                    <a href="/Student/status">
                        <i class="uil uil-notes"></i>
                        <span class="link-name">Booking Status</span>
                    </a>
                </li>
            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="/logout">
                        <i class="uil uil-signout" style="color: red;"></i>
                        <span class="link-name1">Log out</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- dashboard -->
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <h1 class="dash">Home Page</h1>
        </div>

        <div class="dash-content">
            <header class="hero">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Reserve Your Study Room</h1>
                            <p>Find the perfect space to study on campus</p>
                            <a href="/Student/rooms/:id" class="btn btn-primary btn-rainbow">Get Started</a>
                        </div>
                        <div class="col-md-3">
                            <img src="/public/img/meeting2.jpg" alt="Study Room Image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </header>

            <!-- About Section -->
            <section id="about" class="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>New office room</h2>
                            <p>Open the door to creativity in a new workspace.</p>
                        </div>

                        <div class="col-md-3">
                            <img src="/public/img/meeting4.gif" alt="ห้องประชุมใหม่" class="img-fluid">
                        </div>
                    </div>
                </div>
            </section>

            <!-- Reserve Section -->
            <section id="reserve" class="reserve">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Request to close room number 3</h2>
                            <p>Some students secretly brought a group of elementary school children to hang out in the
                                room and
                                cause damage, causing room number three to be temporarily closed.</p>
                        </div>

                        <div class="col-md-3">
                            <img src="/public/img/meeting3.jpg" alt="ห้องพัง" class="img-fluid">
                        </div>
                    </div>
                </div>
            </section>

            <!-- Contact Section -->
            <section id="contact" class="contact">
                <div class="container">
                    <h2>Contact Us</h2>
                    <p>If you have any questions or need assistance, feel free to reach out to us.</p>
                    <p>Email: Group2@Section2.com</p>
                    <p>Phone: 099 999 999</p>
                </div>
            </section>


            <!-- Footer -->
            <footer class="footer bg-dark text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; 2023 University Study Rooms</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>Designed by group2 section2</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </section>

    <script src="/public/js/student_dashboard.js"></script>
</body>

</html>