<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/Student/profile.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Profile</title>
</head>

<body>
    <!-- navbar -->
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="/public/img/student.png" alt="">
            </div>
        </div>
        <div class="logo-name1">
            <h3 class="logo_name1">Student 1</h3>
            <p class="logo_name1">Student</p>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="/views/Student/homepage.html">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Home Page</span>
                    </a>
                </li>
                <li>
                    <a href="/views/Student/search.html">
                        <i class="uil uil-search"></i>
                        <span class="link-name">Search Room</span>
                    </a>
                </li>

                <li>
                    <a href="/views/Student/status.html">
                        <i class="uil uil-notes"></i>
                        <span class="link-name">Booking Status</span>
                    </a>
                </li>
                <li>
                    <a href="/views/Student/profile.html">
                        <i class="uil uil-user"></i>
                        <span class="link-name">Profile</span>
                    </a>
                </li>
            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="/views/login.html">
                        <i class="uil uil-signout" style="color: red;"></i>
                        <span class="link-name1">Log out</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- dashboard -->
    <section class="dashboard">
        <div class="top mt-4">
            <i class="uil uil-bars sidebar-toggle"></i>
            <h1 class="dash">Profile</h1>
        </div>
        <div class="container" id="dash-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center bg-dark text-white">
                        <img src="/public/img/student.png" alt="Profile Image" class="card-img-top mx-auto">
                        <div class="card-body">
                            <h5 class="card-title">Your Name</h5>
                            <p class="card-text">Email: 64315010XX@lamduan.mfu.ac.th</p>
                            <a href="#" class="btn btn-primary">Edit Profile</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-8">
                    <div class="card mt-3 bg-dark text-white">
                        <div class="card-header">
                            About the room
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fas fa-chart-line icon"></i>Recent Viewed</li>
                            <li class="list-group-item"><i class="fas fa-bell icon"></i> Notification</li>
                          
                        </ul>
                    </div>
                    <div class="card mt-3 bg-dark text-white">
                        <div class="card-header">
                            Other
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fas fa-file-alt icon"></i> <!-- Document Icon -->
                                    Get Help</li>
                            <li class="list-group-item"><i class="fas fa-question-circle icon"></i>About us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script src="/public/js/dashboard.js"></script>
</body>

</html>