<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">
  <script src="/public/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/public/css/Student/search.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Room List</title>
</head>

<body>
  <nav>
    <div class="logo-name">
      <div class="logo-image">
        <img src="/public/img/student.png" alt="">
      </div>
    </div>
    <div class="logo-name1">
      <h3 class="logo_name1" id="username"></h3>
      <h6 id="email" class="logo_name1"></h6>
      <p class="logo_name1 fw-bold text-primary">STUDENT</p>
    </div>

    <div class="menu-items">
      <ul class="nav-links">
        <li>
          <a href="/Student/homepage">
            <i class="uil uil-estate"></i>
            <span class="link-name">Home Page</span>
          </a>
        </li>
        <li>
          <a href="/Student/rooms/:id">
            <i class="uil uil-search"></i>
            <span class="link-name">Room List</span>
          </a>
        </li>

        <li>
          <a href="/Student/status">
            <i class="uil uil-notes"></i>
            <span class="link-name">Booking Status</span>
          </a>
        </li>

        <li>
          <a href="/Student/profile">
            <i class="uil uil-users-alt"></i>
            <span class="link-name">Profile</span>
          </a>
        </li>
      </ul>

      <ul class="logout-mode">
        <li>
          <a href="/logout">
            <i class="uil uil-signout" style="color: red;"></i>
            <span class="link-name1">Log out</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <section class="dashboard">
    <div class="top">
      <i class="uil uil-bars sidebar-toggle"></i>
      <h1 class="dash">Room List</h1>
      <div class="date">
        <i class="uil uil-calendar-alt me-2"></i>
        <span id="current-date" class="fw-bold"></span>
      </div>
      <div class="search-box">
        <i class="uil uil-search"></i>
        <input type="text" placeholder="Search here...">
      </div>
    </div>

    <div class="dash-content">
      <div class="row1" id="row">
        <div id="roomlist" class="row">

        </div>
        <!-- <div class="card" style="width: 350px;"> -->
        <!-- <div class="row g-0">
            <div class="col-md-4 mt-2">
              <img src="/public/img/room1.webp" class="ms-2 img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body ms-2">
                <h6 class="card-title"><b>Meeting Room 1</b></h6>
                <i class="uil uil-map-marker"></i>
                <span class="card-text"> C1 101</span> <br>
                <i class="uil uil-user"></i>
                <span class="card-text">6-8 persons</span>
              </div>
            </div> -->
        <!-- </div> -->

        <!-- <div class="mx-2">
            <table class="table table-bordered text-center">
              <tr>
                <td>8-10 A.M.</td>
                <td class="text-success">
                  <span class="dot bg-success"
                    style="height: 11px;width: 11px;border-radius: 50%;display: inline-block;"></span>
                  Available
                </td>
              </tr>
              <tr>
                <td>10-12 P.M.</td>
                <td class="text-warning">
                  <span class="dot bg-warning"
                    style="height: 11px;width: 11px;border-radius: 50%;display: inline-block;"></span>
                  Reserved
                </td>
              </tr>
              <tr>
                <td>12-15 P.M.</td>
                <td class="text-success">
                  <span class="dot bg-success"
                    style="height: 11px;width: 11px;border-radius: 50%;display: inline-block;"></span>
                  Available
                </td>
              </tr>
              <tr>
                <td>15-17 P.M.</td>
                <td class="text-info">
                  <span class="dot bg-info"
                    style="height: 11px;width: 11px;border-radius: 50%;display: inline-block;"></span>
                  Waiting
                </td>
              </tr>
            </table>
          </div> -->
        <!-- <a href="/Student/booking" class="btn btn-dark mt-3 mb-3 mx-5">Reserving</a> -->
        <!-- </div> -->
      </div>
    </div>
  </section>

  <script src="/public/js/search.js"></script>
</body>

</html>