<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/Lucterer/dashboard.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/public/css/STAFFUpdateRoom.css">

    <title>Dashboard</title>
</head>

<body>
    <!-- nav -->
    <nav>
        <div class="logo-name pt-3">
            <div class="logo-image">
                <img src="/public/img/staff.png" alt="">
            </div>
        </div>
        <div class="logo-name1">
            <h3 class="logo_name1" id="username"></h3>
            <h6 id="email" class="logo_name1"></h6>
            <div class="role-box">
                <p id="role" class="logo_name1 text-info fw-bold">STAFF</p>
            </div>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="/Staff/dashboard">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/Staff/update-room">
                        <i class="uil uil-arrow-circle-up"></i>
                        <span class="link-name">Update Room</span>
                    </a>
                </li>
                <li>
                    <a href="/Staff/room-list">
                        <i class="uil uil-apps"></i>
                        <span class="link-name">Room List</span>
                    </a>
                </li>
                <li>
                    <a href="/Staff/reservations"><!--link -->
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Reserving Status</span>
                    </a>
                </li>
                <li>
                    <a href="/Staff/history"><!--link -->
                        <i class="uil uil-history"></i>
                        <span class="link-name">History</span>
                    </a>
                </li>
            </ul>

            <ul class="logout-mode mb-5">
                <li>
                    <a href="/logout">
                        <i class="uil uil-signout" style="color: red;"></i>
                        <span class="link-name1 ">Log out</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- dashboard -->
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <h1 class="dash">Dashboard</h1>
            <div class="date me-5">
                <span id="current-date" class="fw-bold"></span>
            </div>
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Overview</span>
                </div>

                <div class="boxes" id="boxesroom">
                </div>
            </div>

            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recent Activity</span>
                </div>

                <div class="activity-data row p-3">
                    <table class="table table-borderless">
                        <thead>
                            <tr class="fs-5 fw-bold">
                                <td>Name</td>
                                <td>Room Reserved</td>
                                <td>Date Reserved</td>
                                <td>Time Reserved</td>
                                <td>Status</td>
                                <td>Approver</td>
                            </tr>
                        </thead>
                        <tbody id="bodyHistorycontent"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal สำหรับข้อมูล Available Room -->
        <div class="modal fade" id="availableRoomModal" tabindex="-1" aria-labelledby="availableRoomModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="availableRoomModalLabel">Available Room</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="availableRoomlist">
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal สำหรับข้อมูล Reserved Room -->
        <div class="modal fade" id="reservedRoomModal" tabindex="-1" aria-labelledby="reservedRoomModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reservedRoomModalLabel">Reserved Slots</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="reservedRoomlist">
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal สำหรับข้อมูล Disabled Room -->
        <div class="modal fade" id="disabledRoomModal" tabindex="-1" aria-labelledby="disabledRoomModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="disabledRoomModalLabel">Disabled Room</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="disabledRoomlist">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/public/js/staff_dashboard.js"></script>
</body>

</html>