<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/Lucterer/roomlist.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/public/css/STAFFUpdateRoom.css">

    <title>Room List</title>
</head>

<body>
    <!-- nav -->
    <nav>
      <div class="logo-name pt-3">
          <div class="logo-image">
              <img src="/public/img/staff.png" alt="">
          </div>
      </div>
      <div class="logo-name1">
        <h3 class="logo_name1" id="username"></h3>
        <h6 id="email" class="logo_name1"></h6>
          <div class="role-box">
            <p id="role" class="logo_name1 text-info fw-bold">STAFF</p>
          </div>
      </div>
  
      <div class="menu-items">
        <ul class="nav-links">
            <li>
              <a href="/Staff/dashboard">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dashboard</span>
              </a>
            </li>
            <li>
              <a href="/Staff/update-room">
                <i class="uil uil-arrow-circle-up"></i>
                <span class="link-name">Update Room</span>
              </a>                
            </li>
            <li>
              <a href="/Staff/room-list">
                <i class="uil uil-apps"></i>
                <span class="link-name">Room List</span>
              </a>
            </li>
            <li>
              <a href="/Staff/reservations"><!--link -->
                <i class="uil uil-chart"></i>
                <span class="link-name">Reserving Status</span>
              </a>
            </li>
            <li>
              <a href="/Staff/history"><!--link -->
                <i class="uil uil-history"></i>
                <span class="link-name">History</span>
              </a>
            </li>
          </ul>

        <ul class="logout-mode mb-5">
            <li>
                <a href="/logout">
                    <i class="uil uil-signout" style="color: red;"></i>
                    <span class="link-name1 ">Log out</span>
                </a>
            </li>
        </ul>
    </div>
  </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <h1 class="dash">Room List</h1>
            <date-picker class="date-picker" format="MMMM DD (DDD), YYYY"></date-picker>
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
        </div>

        <div class="dash-content">
            <div class="row1" id="row">
                <div class="container">
                <div class="meeting">
                  <div class="img">
                  <img src="/public/img/room1.webp">
                </div>
                <div class="info">
                  <h6 class="mt-2"><b>Meeting Room 1</b></h6>
                  <i class="uil uil-map-marker"></i>
                  <span> C1 101</span> <br>
                  <i class="uil uil-user"></i>
                  <span>6-8 persons</span>
                </div>
                </div>
                  <table class="table table-bordered text-center mt-2">
                    <tr>
                      <td>8-10 A.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>10-12 P.M.</td>
                      <td>
                        <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: yellow;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Reserved
                      </td>
                    </tr>
                    <tr>
                      <td>12-15 P.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>15-17 P.M.</td>
                      <td> <span class="dot bg-info" style="height: 12px;
                          width: 12px;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Waiting</td>
                    </tr>
                  </table>
              </div>

              <div class="container">
                <div class="meeting">
                  <div class="img">
                  <img src="/public/img/meeting5.webp">
                </div>
                <div class="info">
                  <h6 class="mt-2"><b>Meeting Room 2</b></h6>
                  <i class="uil uil-map-marker"></i>
                  <span> C1 101</span> <br>
                  <i class="uil uil-user"></i>
                  <span>6-8 persons</span>
                </div>
                </div>
                  <table class="table table-bordered text-center mt-2">
                    <tr>
                      <td>8-10 A.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>10-12 P.M.</td>
                      <td>
                        <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: yellow;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Reserved
                      </td>
                    </tr>
                    <tr>
                      <td>12-15 P.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>15-17 P.M.</td>
                      <td> <span class="dot bg-info" style="height: 12px;
                          width: 12px;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Waiting</td>
                    </tr>
                  </table>
              </div>

              <div class="container">
                <div class="meeting">
                  <div class="img">
                  <img src="/public/img/meeting2.jpg">
                </div>
                <div class="info">
                  <h6 class="mt-2"><b>Meeting Room 3</b></h6>
                  <i class="uil uil-map-marker"></i>
                  <span> C1 101</span> <br>
                  <i class="uil uil-user"></i>
                  <span>6-8 persons</span>
                </div>
                </div>
                  <table class="table table-bordered text-center mt-2">
                    <tr>
                      <td>8-10 A.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>10-12 P.M.</td>
                      <td>
                        <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: yellow;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Reserved
                      </td>
                    </tr>
                    <tr>
                      <td>12-15 P.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>15-17 P.M.</td>
                      <td> <span class="dot bg-info" style="height: 12px;
                          width: 12px;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Waiting</td>
                    </tr>
                  </table>
              </div>
            </div>
            
            <div class="row1">
                <div class="container">
                <div class="meeting">
                  <div class="img">
                  <img src="/public/img/meeting3.jpg">
                </div>
                <div class="info">
                  <h6 class="mt-2"><b>Meeting Room 4</b></h6>
                  <i class="uil uil-map-marker"></i>
                  <span> C1 101</span> <br>
                  <i class="uil uil-user"></i>
                  <span>6-8 persons</span>
                </div>
                </div>
                  <table class="table table-bordered text-center mt-2">
                    <tr>
                      <td>8-10 A.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>10-12 P.M.</td>
                      <td>
                        <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: yellow;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Reserved
                      </td>
                    </tr>
                    <tr>
                      <td>12-15 P.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>15-17 P.M.</td>
                      <td> <span class="dot bg-info" style="height: 12px;
                          width: 12px;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Waiting</td>
                    </tr>
                  </table>
              </div>

              <div class="container">
                <div class="meeting">
                  <div class="img">
                  <img src="/public/img/meeting3.jpg">
                </div>
                <div class="info">
                  <h6 class="mt-2"><b>Meeting Room 5</b></h6>
                  <i class="uil uil-map-marker"></i>
                  <span> C1 101</span> <br>
                  <i class="uil uil-user"></i>
                  <span>6-8 persons</span>
                </div>
                </div>
                  <table class="table table-bordered text-center mt-2">
                    <tr>
                      <td>8-10 A.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>10-12 P.M.</td>
                      <td>
                        <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: yellow;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Reserved
                      </td>
                    </tr>
                    <tr>
                      <td>12-15 P.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>15-17 P.M.</td>
                      <td> <span class="dot bg-info" style="height: 12px;
                          width: 12px;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Waiting</td>
                    </tr>
                  </table>
              </div>

              <div class="container">
                <div class="meeting">
                  <div class="img">
                  <img src="/public/img/meeting5.webp">
                </div>
                <div class="info">
                  <h6 class="mt-2"><b>Meeting Room 6</b></h6>
                  <i class="uil uil-map-marker"></i>
                  <span> C1 101</span> <br>
                  <i class="uil uil-user"></i>
                  <span>6-8 persons</span>
                </div>
                </div>
                  <table class="table table-bordered text-center mt-2">
                    <tr>
                      <td>8-10 A.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>10-12 P.M.</td>
                      <td>
                        <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: yellow;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Reserved
                      </td>
                    </tr>
                    <tr>
                      <td>12-15 P.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>15-17 P.M.</td>
                      <td> <span class="dot bg-info" style="height: 12px;
                          width: 12px;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Waiting</td>
                    </tr>
                  </table>
              </div>
            </div>

            <div class="row1">
                <div class="container">
                <div class="meeting">
                  <div class="img">
                  <img src="/public/img/room1.webp">
                </div>
                <div class="info">
                  <h6 class="mt-2"><b>Meeting Room 7</b></h6>
                  <i class="uil uil-map-marker"></i>
                  <span> C1 101</span> <br>
                  <i class="uil uil-user"></i>
                  <span>6-8 persons</span>
                </div>
                </div>
                  <table class="table table-bordered text-center mt-2">
                    <tr>
                      <td>8-10 A.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>10-12 P.M.</td>
                      <td>
                        <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: yellow;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Reserved
                      </td>
                    </tr>
                    <tr>
                      <td>12-15 P.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>15-17 P.M.</td>
                      <td> <span class="dot bg-info" style="height: 12px;
                          width: 12px;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Waiting</td>
                    </tr>
                  </table>
              </div>

              <div class="container">
                <div class="meeting">
                  <div class="img">
                  <img src="/public/img/room1.webp">
                </div>
                <div class="info">
                  <h6 class="mt-2"><b>Meeting Room 8</b></h6>
                  <i class="uil uil-map-marker"></i>
                  <span> C1 101</span> <br>
                  <i class="uil uil-user"></i>
                  <span>6-8 persons</span>
                </div>
                </div>
                  <table class="table table-bordered text-center mt-2">
                    <tr>
                      <td>8-10 A.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>10-12 P.M.</td>
                      <td>
                        <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: yellow;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Reserved
                      </td>
                    </tr>
                    <tr>
                      <td>12-15 P.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>15-17 P.M.</td>
                      <td> <span class="dot bg-info" style="height: 12px;
                          width: 12px;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Waiting</td>
                    </tr>
                  </table>
              </div>

              <div class="container">
                <div class="meeting">
                  <div class="img">
                  <img src="/public/img/room1.webp">
                </div>
                <div class="info">
                  <h6 class="mt-2"><b>Meeting Room 9</b></h6>
                  <i class="uil uil-map-marker"></i>
                  <span> C1 101</span> <br>
                  <i class="uil uil-user"></i>
                  <span>6-8 persons</span>
                </div>
                </div>
                  <table class="table table-bordered text-center mt-2">
                    <tr>
                      <td>8-10 A.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>10-12 P.M.</td>
                      <td>
                        <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: yellow;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Reserved
                      </td>
                    </tr>
                    <tr>
                      <td>12-15 P.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>15-17 P.M.</td>
                      <td> <span class="dot bg-info" style="height: 12px;
                          width: 12px;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Waiting</td>
                    </tr>
                  </table>
              </div>
            </div>

            <div class="row1">
                <div class="container">
                <div class="meeting">
                  <div class="img">
                  <img src="/public/img/room1.webp">
                </div>
                <div class="info">
                  <h6 class="mt-2"><b>Meeting Room 10</b></h6>
                  <i class="uil uil-map-marker"></i>
                  <span> C1 101</span> <br>
                  <i class="uil uil-user"></i>
                  <span>6-8 persons</span>
                </div>
                </div>
                  <table class="table table-bordered text-center mt-2">
                    <tr>
                      <td>8-10 A.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>10-12 P.M.</td>
                      <td>
                        <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: yellow;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Reserved
                      </td>
                    </tr>
                    <tr>
                      <td>12-15 P.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>15-17 P.M.</td>
                      <td> <span class="dot bg-info" style="height: 12px;
                          width: 12px;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Waiting</td>
                    </tr>
                  </table>
              </div>

              <div class="container">
                <div class="meeting">
                  <div class="img">
                  <img src="/public/img/room1.webp">
                </div>
                <div class="info">
                  <h6 class="mt-2"><b>Meeting Room 11</b></h6>
                  <i class="uil uil-map-marker"></i>
                  <span> C1 101</span> <br>
                  <i class="uil uil-user"></i>
                  <span>6-8 persons</span>
                </div>
                </div>
                  <table class="table table-bordered text-center mt-2">
                    <tr>
                      <td>8-10 A.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>10-12 P.M.</td>
                      <td>
                        <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: yellow;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Reserved
                      </td>
                    </tr>
                    <tr>
                      <td>12-15 P.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>15-17 P.M.</td>
                      <td> <span class="dot bg-info" style="height: 12px;
                          width: 12px;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Waiting</td>
                    </tr>
                  </table>
              </div>

              <div class="container">
                <div class="meeting">
                  <div class="img">
                  <img src="/public/img/room1.webp">
                </div>
                <div class="info">
                  <h6 class="mt-2"><b>Meeting Room 12</b></h6>
                  <i class="uil uil-map-marker"></i>
                  <span> C1 101</span> <br>
                  <i class="uil uil-user"></i>
                  <span>6-8 persons</span>
                </div>
                </div>
                  <table class="table table-bordered text-center mt-2">
                    <tr>
                      <td>8-10 A.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>10-12 P.M.</td>
                      <td>
                        <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: yellow;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Reserved
                      </td>
                    </tr>
                    <tr>
                      <td>12-15 P.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>15-17 P.M.</td>
                      <td> <span class="dot bg-info" style="height: 12px;
                          width: 12px;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Waiting</td>
                    </tr>
                  </table>
              </div>
            </div>

            <div class="row1">
                <div class="container">
                <div class="meeting">
                  <div class="img">
                  <img src="/public/img/room1.webp">
                </div>
                <div class="info">
                  <h6 class="mt-2"><b>Meeting Room 13</b></h6>
                  <i class="uil uil-map-marker"></i>
                  <span> C1 101</span> <br>
                  <i class="uil uil-user"></i>
                  <span>6-8 persons</span>
                </div>
                </div>
                  <table class="table table-bordered text-center mt-2">
                    <tr>
                      <td>8-10 A.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>10-12 P.M.</td>
                      <td>
                        <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: yellow;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Reserved
                      </td>
                    </tr>
                    <tr>
                      <td>12-15 P.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>15-17 P.M.</td>
                      <td> <span class="dot bg-info" style="height: 12px;
                          width: 12px;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Waiting</td>
                    </tr>
                  </table>
              </div>

              <div class="container">
                <div class="meeting">
                  <div class="img">
                  <img src="/public/img/room1.webp">
                </div>
                <div class="info">
                  <h6 class="mt-2"><b>Meeting Room 14</b></h6>
                  <i class="uil uil-map-marker"></i>
                  <span> C1 101</span> <br>
                  <i class="uil uil-user"></i>
                  <span>6-8 persons</span>
                </div>
                </div>
                  <table class="table table-bordered text-center mt-2">
                    <tr>
                      <td>8-10 A.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>10-12 P.M.</td>
                      <td>
                        <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: yellow;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Reserved
                      </td>
                    </tr>
                    <tr>
                      <td>12-15 P.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>15-17 P.M.</td>
                      <td> <span class="dot bg-info" style="height: 12px;
                          width: 12px;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Waiting</td>
                    </tr>
                  </table>
              </div>

              <div class="container">
                <div class="meeting">
                  <div class="img">
                  <img src="/public/img/room1.webp">
                </div>
                <div class="info">
                  <h6 class="mt-2"><b>Meeting Room 15</b></h6>
                  <i class="uil uil-map-marker"></i>
                  <span> C1 101</span> <br>
                  <i class="uil uil-user"></i>
                  <span>6-8 persons</span>
                </div>
                </div>
                  <table class="table table-bordered text-center mt-2">
                    <tr>
                      <td>8-10 A.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>10-12 P.M.</td>
                      <td>
                        <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: yellow;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Reserved
                      </td>
                    </tr>
                    <tr>
                      <td>12-15 P.M.</td>
                      <td> <span class="dot" style="height: 12px;
                          width: 12px;
                          background-color: rgb(99, 216, 73);
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Available</td>
                    </tr>
                    <tr>
                      <td>15-17 P.M.</td>
                      <td> <span class="dot bg-info" style="height: 12px;
                          width: 12px;
                          border-radius: 50%;
                          display: inline-block;"></span>
                        Waiting</td>
                    </tr>
                  </table>
              </div>
            </div>
        </div>
    </section>

    <script src="/public/js/roomlist.js"></script>
</body>

</html>