<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/Lucterer/status2.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Reserving Status</title>
</head>

<body>
    <nav>
        <div class="logo-name pt-3">
            <div class="logo-image">
                <img src="/public/img/staff.png" alt="">
            </div>
        </div>
        <div class="logo-name1">
          <h3 class="logo_name1" id="username"></h3>
          <h6 id="email" class="logo_name1"></h6>
            <div class="role-box">
              <p id="role" class="logo_name1 text-info fw-bold">STAFF</p>
            </div>
        </div>
    
        <div class="menu-items">
            <ul class="nav-links">
                <li>
                  <a href="/Staff/dashboard">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                  </a>
                </li>
                <li>
                  <a href="/Staff/update-room">
                    <i class="uil uil-arrow-circle-up"></i>
                    <span class="link-name">Update Room</span>
                  </a>                
                </li>
                <li>
                  <a href="/Staff/room-list">
                    <i class="uil uil-apps"></i>
                    <span class="link-name">Room List</span>
                  </a>
                </li>
                <li>
                  <a href="/Staff/reservations"><!--link -->
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Reserving Status</span>
                  </a>
                </li>
                <li>
                  <a href="/Staff/history"><!--link -->
                    <i class="uil uil-history"></i>
                    <span class="link-name">History</span>
                  </a>
                </li>
              </ul>
    
            <ul class="logout-mode mb-5">
                <li>
                    <a href="/logout">
                        <i class="uil uil-signout" style="color: red;"></i>
                        <span class="link-name1 ">Log out</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <h1 class="dash">Reserving Status</h1>
            <div class="date">
              <i class="uil uil-calendar-alt me-2"></i>
              <span id="current-date" class="fw-bold"></span>
            </div>
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
        </div>

        <div class="dash-content">
            <table class="table table-bordered text-center mt-2">
                <thead>
                    <th class="col-3">Name</th>
                    <th class="col-2">Room Reserved</th>
                    <th class="col-2">Time Reserved</th>
                    <th class="col-3">Message</th>
                    <th class="col-2">Status</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Mr. Asususus Ffhdhfd</td>
                        <td>Meeting Room 2</td>
                        <td>8-10 A.M.</td>
                        <td></td>
                        <td class="approve-button">Approve</td>
                    </tr>

                    <tr>
                        <td>Miss Mssj Lkdm</td>
                        <td>Meeting Room 1</td>
                        <td>15-17 P.M.</td>
                        <td></td>
                        <td class="approve-button">Approve</td>
                    </tr>

                    <tr>
                        <td>Miss Mssj Lkdm</td>
                        <td>Meeting Room 1</td>
                        <td>15-17 P.M.</td>
                        <td>This room is not available for student</td>
                        <td class="approve-button1">Disapprove</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </section>

    <script src="/public/js/status_staff.js"></script>
</body>

</html>